@font-face {
    font-family: 'Kenarose';
    src: url('Kenarose-Regular.woff2') format('woff2'),
        url('Kenarose-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kenarose';
    src: url('Kenarose-Regular.woff2') format('woff2'),
        url('Kenarose-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

